---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import Section from '@/components/Section'

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const team = await getCollection('team')
  return team.map(entry => ({
    params: { slug: entry.id },
    props: { member: entry },
  }))
}

// Get the entry directly from the prop on render
const { member: entry } = Astro.props
export const prerender = true
---

<Layout title={entry.data.name}>
  <Section.Root>
    <Section.Content className="max-w-optical">
      <a class="'typo-a underline" href="/team">back</a>
      <h1 class="typo-h4">{entry.data.name}</h1>
      <p>{entry.data.role}</p>
      <p>{entry.data.bio}</p>
    </Section.Content>
  </Section.Root>
</Layout>
