---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import { siteConfig } from '@/utils/config'
import HeroSection from '@/components/sections/HeroSection.astro'
import { Title, H1 } from '@/components/ui/typography'
import { Button } from '@/components/ui/button'
import DonutQuizSection from '@/components/sections/DonutQuizSection'

const donutEntries = await getCollection('donut')
const questionEntries = await getCollection('question')
---

<Layout title={siteConfig.name}>
  <div class="bg-accent-light pt-48 md:pt-56 px-4 md:py-4 md:px-8 overflow-hidden relative">
    <div class="max-w-layout mx-auto min-h-96 flex flex-col align-middle gap-4 relative z-0">
      <img class="absolute -bottom-16 -right-64 -z-10" src="/src/assets/hero-donut-2.png" alt="Donut Splashing" />
      <h1 class="typo-title-2 max-w-lg">What kind of Donut are you?</h1>
      <p class="max-w-md">
        Ever wondered what kind of donut you are? Wait no further! Take the quiz and discover which donut fits your
        personality best!
      </p>
    </div>
    <svg
      class="absolute -bottom-2 left-0 w-full fill-background"
      viewBox="0 0 1440 96"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 28.8L60 27.2C120 25.6 240 22.4 360 27.2C480 32 600 44.8 720 54.4C840 64 960 70.4 1080 60.8C1200 51.2 1320 25.6 1380 12.8L1440 0V96H1380C1320 96 1200 96 1080 96C960 96 840 96 720 96C600 96 480 96 360 96C240 96 120 96 60 96H0V28.8Z"
      >
      </path>
    </svg>
  </div>
  <DonutQuizSection client:load donuts={donutEntries} questions={questionEntries} />
</Layout>
